<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdb.iot.driverManager.mapper.sdbIotDriverMapper">
    
    <resultMap type="sdbIotDriver" id="sdbIotDriverResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="server"    column="server"    />
        <result property="enable"    column="enable"    />
        <result property="host"    column="host"    />
        <result property="port"    column="port"    />
        <result property="remark"    column="remark"    />
        <result property="modifyDate"    column="modify_date"    />
        <result property="createDate"    column="create_date"    />
    </resultMap>

    <sql id="selectsdbIotDriverVo">
        select id, name, server, enable, host, port, remark, modify_date, create_date from sdb_iot_driver
    </sql>

    <select id="selectsdbIotDriverList" parameterType="sdbIotDriver" resultMap="sdbIotDriverResult">
        <include refid="selectsdbIotDriverVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="server != null  and server != ''"> and server = #{server}</if>
        </where>
    </select>
    
    <select id="selectsdbIotDriverById" parameterType="Long" resultMap="sdbIotDriverResult">
        <include refid="selectsdbIotDriverVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertsdbIotDriver" parameterType="sdbIotDriver" useGeneratedKeys="true" keyProperty="id">
        insert into sdb_iot_driver
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="server != null and server != ''">server,</if>
            <if test="enable != null">enable,</if>
            <if test="host != null and host != ''">host,</if>
            <if test="port != null and port != ''">port,</if>
            <if test="remark != null">remark,</if>
            <if test="modifyDate != null">modify_date,</if>
            <if test="createDate != null">create_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="server != null and server != ''">#{server},</if>
            <if test="enable != null">#{enable},</if>
            <if test="host != null and host != ''">#{host},</if>
            <if test="port != null and port != ''">#{port},</if>
            <if test="remark != null">#{remark},</if>
            <if test="modifyDate != null">#{modifyDate},</if>
            <if test="createDate != null">#{createDate},</if>
         </trim>
    </insert>

    <update id="updatesdbIotDriver" parameterType="sdbIotDriver">
        update sdb_iot_driver
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="server != null and server != ''">server = #{server},</if>
            <if test="enable != null">enable = #{enable},</if>
            <if test="host != null and host != ''">host = #{host},</if>
            <if test="port != null and port != ''">port = #{port},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="modifyDate != null">modify_date = #{modifyDate},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletesdbIotDriverById" parameterType="Long">
        delete from sdb_iot_driver where id = #{id}
    </delete>

    <delete id="deletesdbIotDriverByIds" parameterType="String">
        delete from sdb_iot_driver where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>